pytest==9.0.3
pytest-mock==3.15.1
pytest-json-report
qai-hub-models-cli==0.59.0
qai-hub
typed-argument-parser
boto3>=1.26,<=1.40.0 # for fetching test assets
botocore>=1.26,<=1.40.0 # for fetching test assets
boto3-stubs[s3,sts]>=1.26,<=1.40.0
tqdm>=4.66 # for fetching test assets
tenacity==9.1.4 # for retrying
